@import "../../App.scss";
.logo-azart a {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
  font-weight: 700;
  
}
.logo-navbar {
  width: 4em;
  margin: 2vh;
}
.site-name {
  font-family: $font-content;
  color: $color-blue;
  font-size: 7vh;
  font-style: italic;
}
